#quiz-container {
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: right;
  font-family: Arial, sans-serif;
}
.quiz-start {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
button:hover {
  background-color: #d0d0d0;
}
.question {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.option {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff00;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}
.option:hover {
  background-color: #d0d0d0;
  border-color: #999;
}
.option.selected {
  background-color: #4caf50;
  color: white;
  border-color: #45a049;
  font-weight: bold;
}
.option.correct {
  background-color: #4caf50;
  color: white;
  border-color: #45a049;
  font-weight: bold;
}
.option.wrong {
  background-color: #f44336;
  color: white;
  border-color: #da190b;
  font-weight: bold;
}

.single-option {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}
h1 {
  text-align: center;
}
